<tr>

       
    <td>
        <div class="white-text">
             <i class="fa fa-birthday-cake white-text" style="padding-right:1em" aria-hidden="true"></i><%= name %>
        </div>
    </td>
    <td>
        <div class="white-text">
            <%= description %>
        </div>
    </td>
    <td>
        <div class="white-text">
            <%= date %>
        </div>
    </td>
    <td>
        <div class="white-text text-right">
            <%= importance %><img style="margin-top: -6px; padding-left:1em" width="30px;" src="<%= icon %>" /></div>
    </td>
</tr>